body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Prevent Overflow Scrolling */
html {
	overflow-x:hidden;
	overflow-y:hidden;
}




.btn-secondary{
  background-color:rgb(35, 50, 64);
}


.progress-bar{
  background-color:rgb(35, 50, 64);
}